@import "bootstrap-sprockets";
@import "bootstrap";

ul.foo {
  //width: 600px;
  border:1px ;
  padding:0;
  font-size:0px;
}

ul.foo li {
  width:118px;
  border:1px solid black;
  margin-left: auto;
  display: inline-block;
  text-align: center;
  font-size:16px;
}

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}


.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}
